// Define your custom color palette
$blue-dark: #29353C;
$blue-deep: #44576D;
$blue-gray: #768A96;
$blue-light: #AAC7D8;
$blue-pale: #DFEBF6;
$gray-light: #E6E6E6;

// Override Bootstrap's default variables
$primary: $blue-dark;
$secondary: $blue-deep;
$info: $blue-light;
$light: $blue-pale;
$dark: $blue-gray;
$gray-100: $gray-light;

// Import Bootstrap's SCSS at the end after your custom variable definitions
@import '../node_modules/bootstrap/scss/bootstrap';
